*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.plone-version
.plone.version*
.project
.pydevproject
.settings/
bin/
buildout-cache/
CACHEDIR.TAG
develop-eggs/
include/
lib/
parts/
src/*
!src/collective
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html
